@model IEnumerable<AppData.LoGo>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";  // Đảm bảo đường dẫn chính xác đến layout
}

<h1>Danh sách Logo</h1>

<p style="margin-left:50%">
    <a href="/Admin/Logoes/Create" class="btn btn-primary">Thêm Logo Mới</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Hình ảnh</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/@item.Logo" alt="Logo" style="max-width: 150px; height: auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a href="/Admin/Logoes/Edit/@item.ID" class="btn btn-warning">Sửa</a>
                    <a href="/Admin/Logoes/Delete/@item.ID" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
