@model AppData.TinTuc

@{
    ViewData["Title"] = "Edit Tin Tức";
}

<h2>Edit Tin Tức</h2>
<div style="margin-left:20%">
	@using (Html.BeginForm("Edit", "TinTucs", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-group">
			<label asp-for="TenTinTucChinh" class="control-label">Tiêu đề chính</label>
			<input asp-for="TenTinTucChinh" class="form-control" />
			<span asp-validation-for="TenTinTucChinh" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="TenTinTucPhu" class="control-label">Tiêu đề phụ</label>
			<input asp-for="TenTinTucPhu" class="form-control" />
			<span asp-validation-for="TenTinTucPhu" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="HinhAnh1" class="control-label">Hình ảnh 1</label>
			<input type="file" name="imageFile1" class="form-control" />
			@if (Model.HinhAnh1 != null)
			{
				<img src="~/img/about/@Model.HinhAnh1" width="100" />
			}
			<span asp-validation-for="HinhAnh1" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="HinhAnh2" class="control-label">Hình ảnh 2</label>
			<input type="file" name="imageFile2" class="form-control" />
			@if (Model.HinhAnh2 != null)
			{
				<img src="~/img/about/@Model.HinhAnh2" width="100" />
			}
			<span asp-validation-for="HinhAnh2" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="HinhAnh3" class="control-label">Hình ảnh 3</label>
			<input type="file" name="imageFile3" class="form-control" />
			@if (Model.HinhAnh3 != null)
			{
				<img src="~/img/about/@Model.HinhAnh3" width="100" />
			}
			<span asp-validation-for="HinhAnh3" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="TrangThai" class="control-label">Trạng thái</label>
			<select asp-for="TrangThai" class="form-control">
				<option value="true">Hiển thị</option>
				<option value="false">Ẩn</option>
			</select>
			<span asp-validation-for="TrangThai" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NoiDungChiTiet1" class="control-label">NoiDungChiTiet1</label>
			<input asp-for="NoiDungChiTiet1" class="form-control" />
			<span asp-validation-for="NoiDungChiTiet1" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NoiDungChiTiet2" class="control-label">NoiDungChiTiet2</label>
			<input asp-for="NoiDungChiTiet2" class="form-control" />
			<span asp-validation-for="NoiDungChiTiet2" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NoiDungChiTiet3" class="control-label">NoiDungChiTiet3</label>
			<input asp-for="NoiDungChiTiet3" class="form-control" />
			<span asp-validation-for="NoiDungChiTiet3" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NoiDungChiTiet4" class="control-label">NoiDungChiTiet4</label>
			<input asp-for="NoiDungChiTiet4" class="form-control" />
			<span asp-validation-for="NoiDungChiTiet4" class="text-danger"></span>
		</div>

		<div class="form-group">
			<input type="submit" value="Lưu" class="btn btn-primary" />
			
				<a asp-action="Index" class="btn btn-secondary">Back to List</a>
			
		</div>
	}
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

