@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";  // Đảm bảo đường dẫn chính xác đến layout
}


<h2>Welcome to Admin Dashboard</h2>

    <div class="content" style="margin-left: 250px; padding: 20px;">
      <h2>hello</h2>
    </div>
