@model AppData.TaiKhoann

@{
    ViewData["Title"] = "Account Details";
}

<h1 class="text-center mb-4">Account Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <dl class="row">
                <!-- Account Name -->
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.TaiKhoan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TaiKhoan)
                </dd>

                <!-- Password -->
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MatKhau)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MatKhau)
                </dd>
            </dl>

            <!-- Edit and Back buttons -->
            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary btn-lg">Edit</a>
                <a  asp-action="Index" class="btn btn-secondary btn-lg ml-3">Back to List</a>
            </div>
        </div>
    </div>
</div>
